<html>
  <head>
    <title>1vs1 Coding</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="center-screen">
      <h2>Select Day</h2>
      <div class="btn-group" role="group" aria-label="Select Room">
        <a href="/admin/1" class="btn btn-dark">Day 1</a><br>
        <a href="/admin/2" class="btn btn-dark">Day 2</a><br>
        <a href="/admin/3" class="btn btn-dark">Day 3</a><br>
      </div>
    </div>
  </body>
</html>