<html>
  <head>
    <title>1vs1 Coding</title>
  </head>
  <body>
    <button id="1">Start room 1</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="2">Start room 2</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="3">Start room 3</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="4">Start room 4</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="5">Start room 5</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="6">Start room 6</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="7">Start room 7</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>
    <button id="8">Start room 8</button>
    <label>Question No.
		<select name="question">
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
            <option>7</option>
            <option>8</option>
		</select>
	</label>
    <br>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>
  </body>
</html>
