<html>
  <head>
    <title>1vs1 Coding</title>
  </head>
  <body>
    <button id="1">Start room 1</button><br>
    <button id="2">Start room 2</button><br>
    <button id="3">Start room 3</button><br>
    <button id="4">Start room 4</button><br>
    <button id="5">Start room 5</button><br>
    <button id="6">Start room 6</button><br>
    <button id="7">Start room 7</button><br>
    <button id="8">Start room 8</button><br>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/admin.js"></script>
  </body>
</html>