<html>
  <head>
    <title>1vs1 Coding</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/contest.css">
  </head>
  <body>
    <p id="roomID"><%=id%></p>
    <div class="card">
      <div class="card-body">
        <h1>Question:</h1>
        <p id="question"></p>
      </div>
    </div>
    <div class="main-editor">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Editor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <select class="form-control" id="langSelector" onchange="changeAceLang()">
                <option value="c_cpp">C</option>
                <option value="c_cpp">CPP</option>
                <option value="csharp">CSHARP</option>
                <option value="java">Java</option>
                <option value="python">Python3</option>
                <option value="python">Python2</option>
              </select>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <span class="nav-link timer">0m 0s</span>
            </li>
            <li class="nav-item">
              <button id="run_btn" class="btn btn-primary">Run</button>
              <button id="submit_btn" class="btn btn-success">Submit</button><br>
            </li>
          </ul>
        </div>
      </nav>
      <div id="editor"></div>
      <div class="row">
        <div class="col-6">
          <p class="result">Result:</p>
          <div class="scroll-result">
            <p id="run_message"></p>
          </div>
        </div>
        <div class="col-6">
          <p class="output-text-paragraph">Output:</p>
          <div class="scroll-result">
            <p id="output"></p>
          </div>
        </div>
      </div>
    </div>
    <div id="waitingModal" class="modal">
      <div class="content">
        <p>Waiting for admin to start...</p>
      </div>
    </div>
    <div id="gameOverModal" class="modal">
      <div class="content">
        <p id="gameOverContent">Waiting for admin to start...</p>
      </div>
    </div>

    <!---------------SCRIPTS BELOW----------------------->
    <script src="/javascripts/jquery-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.emit("joinContest", <%= id %>);
    </script>
    <script src="/javascripts/contest.js"></script>
    <script sec="/javascripts/mathjax.js"></script>
    <script src="/javascripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/pastel_on_dark");
      editor.setOption('fontSize', 20);
      editor.session.setMode("ace/mode/c_cpp");
    </script>
  </body>
</html>
