<html>
  <head>
    <title>1vs1 Coding</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="center-screen">
      <h2>Select Room</h2>
      <div class="btn-group" role="group" aria-label="Select Room">
        <a href="/contest/1" class="btn btn-dark">Room 1</a><br>
        <a href="/contest/2" class="btn btn-dark">Room 2</a><br>
        <a href="/contest/3" class="btn btn-dark">Room 3</a><br>
        <a href="/contest/4" class="btn btn-dark">Room 4</a><br>
        <a href="/contest/5" class="btn btn-dark">Room 5</a><br>
        <a href="/contest/6" class="btn btn-dark">Room 6</a><br>
        <a href="/contest/7" class="btn btn-dark">Room 7</a><br>
        <a href="/contest/8" class="btn btn-dark">Room 8</a><br>
      </div>
    </div>
  </body>
</html>