<html>
  <head>
    <title>1vs1 Coding</title>
  </head>
  <body>
    <a href="/contest/1">Room 1</a><br>
    <a href="/contest/2">Room 2</a><br>
    <a href="/contest/3">Room 3</a><br>
    <a href="/contest/4">Room 4</a><br>
    <a href="/contest/5">Room 5</a><br>
    <a href="/contest/6">Room 6</a><br>
    <a href="/contest/7">Room 7</a><br>
    <a href="/contest/8">Room 8</a><br>
  </body>
</html>