.main-editor {
  height:100vh;
  background-color: #343a40;
  color: #fff;
}

.modal{
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.content{
  font-size: 30px;
  text-align: center;
  background-color:#f4f4f4;
  margin: 15% auto;
  padding: 50px;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

#editor { 
    width: 100%;
    height: 60%;
}

.navbar-brand {
  margin-left: 15px;
}

.form-control {
  margin-left: 150px;
}

.ml-auto {
  margin-right: 50px;
}

.btn {
  margin: 0 10px;
}

#run_btn {
  padding-left: 20px;
  padding-right: 20px;
}

.result{
  background-color: #23272b;
  color: #fff;
  font-size:1.25rem;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.scroll-result {
  height:23.8%;
  overflow-y: auto;
}

#run_message {
  padding-left: 30px;
}

#output {
  padding-left: 30px;
}

.green-text {
  color: #15a81a;
  font-weight:bold;
}

.red-text {
  color: #ff2b2b;
  font-weight:bold;
}

.timer {
  margin-right:150px;
  background-color: #23272b;
  border:none;
}