.myModal{
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.content{
  font-size: 30px;
  text-align: center;
  background-color:#f4f4f4;
  margin: 15% auto;
  padding: 50px;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}

#editor {
    position: relative;
    top: 5%;
    right: 25%;
    bottom: 5;
    left: 0;
    margin: 0;
    height: 98%;
    width: 100%;
}

#myRow{
    height: 100%;
    width: 100%;
    margin: 0;
}

#compilerDiv{
    height: 50%;
    width: 100%;
    background-color: yellow;
    padding: 0;
}

#firstCol{
    padding: 0;
}

#secondCol{
    padding: 0;
}

#compilerStatus{
    height: 80%;
    width: 100%;
}

#compileBtn{
    width: 100%;
    height: 20%;
}

#runDiv{
    height: 50%;
    width: 100%;
    background-color: yellow;
    padding: 0;
}

#runStatus{
    height: 80%;
    width: 100%;
}

#runBtnTest{
    width: 100%;
    height: 10%;
}

#runBtnPvt{
    width: 100%;
    height: 10%;
}
